<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="br.cnpem.gef.editor.Editor"
            contributorClass="br.cnpem.gef.editor.EditorActionBarContributor"
            default="true"
            extensions="dilma"
            id="br.cnpem.gef.golpe.GolpeEditor"
            name="Golpe Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="TesteHandler"
            id="br.cnpem.gef.golpe.command.Teste"
            name="Test">
      </command>
      <command
            defaultHandler="TesteHandler"
            id="br.cnpem.gef.golpe.command.popup"
            name="Teste command">
      </command>
      <command
            defaultHandler="TesteHandler"
            id="br.cnpem.gef.golpe.context.command"
            name="Teste Command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="testeMenu"
               label="Teste">
            <command
                  commandId="br.cnpem.gef.golpe.command.Teste"
                  label="Teste"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="br.cnpem.gef.golpe.menu.toolbar.teste"
               label="Teste ">
            <command
                  commandId="br.cnpem.gef.golpe.command.Teste"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.views.properties.tabbed">
         <toolbar
               id="br.cnpem.gef.golpe.menu.toolbar.teste2"
               label="Teste 3">
            <command
                  commandId="br.cnpem.gef.golpe.command.Teste"
                  label="Teste Command 12"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="br.cnpem.gef.golpe.toolbar3"
               label="Teste 1">
            <command
                  commandId="br.cnpem.gef.golpe.command.popup"
                  label="Teste"
                  style="pulldown">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:br.cnpem.gef.golpe.command.popup">
         <command
               commandId="br.cnpem.gef.golpe.command.Teste"
               label="3123123"
               style="push">
         </command>
         <command
               commandId="br.cnpem.gef.golpe.command.Teste"
               label="dasdasd"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="br.cnpem.gef.views.DescriptorView"
            id="br.cnpem.gef.golpe.view.summary"
            name="Component Descriptor"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="br.cnpem.gef.model.Component"
            class="br.cnpem.gef.adapters.ComponentAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="br.cnpem.gef.model.NetworkInterface"
            class="br.cnpem.gef.adapters.NetworkInterfaceAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="br.cnpem.gef.model.Connection"
            class="br.cnpem.gef.adapters.ConnectionAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="br.cnpem.gef.model.PVariable"
            class="br.cnpem.gef.adapters.PVariableAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
         <adapter
               type="org.csstudio.csdata.ProcessVariable">
         </adapter>
      </factory>
      <factory
            adaptableType="br.cnpem.gef.controller.PVariableEditPart"
            class="br.cnpem.gef.adapters.PVariableHostEditPartAdapterFactory">
         <adapter
               type="org.csstudio.csdata.ProcessVariable">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="br.cnpem.gef.perspective.PerspectiveFactory"
            id="br.cnpem.gef.perspective"
            name="Components">
      </perspective>
   </extension>
   <extension
         id="br.cnpem.gef.wizard.dilmawizard"
         name="New Dilma File"
         point="org.eclipse.ui.newWizards">
      <category
            id="br.cnpem.gef.wizards.dilmaCategory"
            name="Dilma">
      </category>
      <wizard
            category="br.cnpem.gef.wizards.dilmaCategory"
            class="br.cnpem.gef.wizards.DilmaWizard"
            id="br.cnpem.gef.wizard.newDilma"
            name="New Dilma File">
      </wizard>
   </extension>

</plugin>
